.userContainer{
    flex-grow: 2;
}

.User{
    display: flex;;
}

.userImage {
    height: 5.5em;
    border-radius: 50%;
    margin-left: 2em;
    margin-top: 0.1em;
    
}

.User p{
    display: inline;
    margin-left: auto;
}