.recommendedHeader {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-left: 1em;
}

.recommendedContainer {
    display: flex;
    flex-wrap: wrap;
}

.Album {
    flex-grow: 1;
}