.recommendedHeader {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-left: 1em;
}

.recommendedContainer {
    display: flex;
    flex-wrap: wrap;
    
}

.Album {
    display: inline;
}

.recommendedItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.Album {
    margin: 1em;
    text-align: center;
}

.Album p {
    color: white;
    
}

.albumName {
    font-weight: bold;
}